body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* Navbar */
/*               NOT DISPLAYING CURRENTLY: POSSIBLY Z-INDEX CONFLICT
.nav {
    background-color: blue;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    color: white;
}
*/
.hero img {
    width: 100%;
    height: 100%;
}

/* Parallax hero section */

header {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: green;
}

header::before {
    content: "";
    position: absolute;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    display: block;
    background: url('../assets/imgs/christopher-gower-m_HRfLhgABo-unsplash.jpg');
    background-size: cover;
    z-index: 0;
}

header div {
    position: absolute;
    z-index: 1;
    top: 50%;
    padding: 0 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

header h1 {
    font-size: 4.5rem;
    font-weight: 700;
    color: #009688;
}

header h2 {
    font-size: 2.2rem;
    font-weight: 300;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Make the images invisibile by default */

.containers {
    display: none;
}

/* forward and back buttons */
.back,
.forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4 ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}

/* Place the "forward button" to the right */
.forward {
    right: 0;
    border-radius: 4px 0 0 4px;
}

.back:hover,
.forward:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption info */
.info {
    color: #e3e3e3;
    font-size: 16px;
    padding: 10px 14px;
    /* who's the first parent relative with a non static pos? */
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

/* Worknumbering (1/3 etc) */
.message-info {
    color: #f2f2f3;
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
}

/* The circles or bullets and indicators */
.dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: #acc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.enable,
.dots:hover {
    background-color: #717161;
}

/* Faint animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 2
    }
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 2
    }
}
